%h1= build.title
%p= build.body
%br
%h3 Replays/VODs
%p= build.replays
%br
= link_to 'Edit', edit_build_path(build)
= link_to 'Delete', build, method: :delete, data: { confirm: 'Are you sure you want to delete this?' }
