%h1= build.title
= markdown(build.body)
%br
- unless build.replays.empty?
  %h3 Replays/VODs
  = markdown(build.replays)
%br
- if current_user
  = link_to 'Edit', edit_build_path(build)
  = link_to 'Delete', build, method: :delete, data: { confirm: 'Are you sure you want to delete this?' }
