= semantic_form_for @build do |f|
  = f.inputs do
    = f.input :title
    = f.input :race, :label => "Race", :as => :radio, :collection => ["Protoss","Terran","Zerg"]
    = f.input :vs_race, :label => "Vs Race", :as => :radio, :collection => ["Protoss","Terran","Zerg"]
    = f.input :build_type, :as => :select, :collection => ["Macro", "All-In", "Aggressive", "Cheese"]
    = f.input :body 
    = f.input :replays
  = f.actions do
    = f.action :submit, :button_html => { :class => "btn btn-primary" } 
    = f.action :cancel, :as => :link

