%h1 Builds
- if user_signed_in?
  %small= link_to "Add a New Build", new_build_path
= render 'search'
%table.table
  %thead
    %tr
      %th= sort_link @search, :title, "Build"
      %th= sort_link @search, :race, "Race"
      %th Matchup
      %th= sort_link @search, :build_type, "Type"
      %th= sort_link @search, :user_id, "Author"
      %th= sort_link @search, :vote_weight, "Rating"
  %tbody
    - @builds.each do |build|
      %tr
        %td= link_to build.title, build
        %td= build.race
        %td= build.matchup
        %td= build.build_type
        %td= link_to build.user.username, user_path(build.user.username)
        %td= build.votes.size
