%h1 Builds
- if user_signed_in?
  %small= link_to "Add a New Build", new_build_path
= render 'search'
%table.table
  %thead
    %tr
      %th= sort_link @search, :race, "Race"
      %th Matchup
      %th= sort_link @search, :title, "Build" 
  %tbody
    - @builds.each do |build|
      %tr
        %td= build.race
        %td= build.matchup
        %td= link_to build.title, build
