%nav{:class => "navbar navbar-default", :role => "navigation"}
  .container-fluid
    .navbar-header
      = link_to "SCBuilds", root_path, class: "navbar-brand"
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li= link_to "BUILDS", builds_path
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li= link_to current_user.username, '#'
          %li= link_to (fa_icon "sign-out") + " LOGOUT", destroy_user_session_path, :method => :delete
        - else
          %li= link_to (fa_icon "sign-in") + " LOGIN", new_user_session_path
          %li= link_to "SIGN UP", new_user_registration_path
